*.o
*.obj
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*.app
*~
#*#
.#*
.*.swp
*.swp
*.old
*.bak
*.cache
*.tags
.DS_Store
Debug
Release
bin
obj
.svn
.git
.idea
.egg*
venv
Cache
py.*
_jb_unittest_runner.py.log
*.log
*.log.*
dirty.txt
apidoc
Thumbs.db
*.egg-info
~*.*
build
dist
setup.cfg
setup.py
*.egg-info
.vscode*
*.pickle
__pycache__
*.key
*.pfx
_trial_*
_trial_*.*
._*
