# pip dependent packages

# default for alabs
alabs.common

# for google tranlate
# googletrans>=2.4.0

# Google API changed and chagned for dependent module
# Not supported from 2021.07.05
# google_trans_new

googletrans==4.0.0-rc1